<html>
<head>
  <title>NodeGitGui</title>
  <script type="text/javascript" src="javascript/libs/jquery-1.8.0.js"></script>
  <script type="text/javascript" src="javascript/libs/jquery-ui-1.8.23.js"></script>
  <script type="text/javascript" src="javascript/libs/jquery.layout.js"></script>
  <script type="text/javascript" src="javascript/libs/jquery.dataTables.js"></script>
  <script type="text/javascript" src="javascript/libs/jquery.jstree.js"></script>
  <script type="text/javascript" src="javascript/libs/jquery.ribbon.js"></script>
  <script type="text/javascript" src="javascript/libs/ejs.js"></script>
  <script type="text/javascript" src="/browserify.js"></script>
  <script type="text/javascript" src="javascript/gitgui.js"></script>
  <link type="text/css" rel="stylesheet" href="css/smoothness/jquery-ui-1.8.23.custom.css"/>
  <link type="text/css" rel="stylesheet" href="css/layout/layout.css"/>
  <link type="text/css" rel="stylesheet" href="css/dataTable/header.ccss"/>
  <link type="text/css" rel="stylesheet" href="css/dataTable/dataTable.css"/>
  <link type="text/css" rel="stylesheet" href="css/ribbon/style.css"/>
  <link type="text/css" rel="stylesheet" href="css/gitgui.css"/>
  <link rel="icon" type="image/png" href="/image/favicon.png"/>
</head>
<body>
<div class="ui-layout-north">
  <ul class="ribbon" id="ribbon">
    <li>
      <ul class="menu">
        <li><a href="#home" accesskey="2">Home</a>
          <ul>
            <li>
              <h2>
                <span>Actions</span>
              </h2>

              <div id="toolbarRefresh">
                <img src="/image/toolbar-refresh.png" alt="Refresh"/>
                Refresh
              </div>
            </li>
            <li>
              <h2>
                <span>Local</span>
              </h2>

              <div id="toolbarCommit">
                <img src="/image/toolbar-commit.png" alt="Commit"/>
                Commit
              </div>
              <div id="toolbarStash">
                <img src="/image/toolbar-stash.png" alt="Commit"/>
                Stash
              </div>
            </li>
            <li>
              <h2>
                <span>Remote</span>
              </h2>

              <div id="toolbarFetch">
                <img src="/image/toolbar-fetch.png" alt="Fetch"/>
                Fetch
              </div>
              <div id="toolbarPull">
                <img src="/image/toolbar-pull.png" alt="Pull"/>
                Pull
              </div>
              <div id="toolbarPush">
                <img src="/image/toolbar-push.png" alt="Push"/>
                Push
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div id="toolbarPushCount" class="statusCount">?</div>
<div id="toolbarPullCount" class="statusCount">?</div>

<div class="outer-center">
  <!-- GitLog -->
  <div class="middle-center">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="gitLog" width="100%">
      <thead>
      <tr>
        <th>Graph</th>
        <th>Description</th>
        <th>Date</th>
        <th>Author</th>
        <th>ID</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <!-- FileView and Diff -->
  <div class="middle-south">
    <div class="middle-south-west">
      <div id="commitInfo">
        Select a commit from the log to view.
      </div>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="fileView" width="100%">
        <thead>
        <tr>
          <th>Status</th>
          <th>Staged</th>
          <th>Filename</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="middle-south-center">
      <div id="diff">
        Select a file to view the diff.
      </div>
    </div>
  </div>
</div>

<!-- MainTree -->
<div class="ui-layout-west">
  <div id="mainTree">
    <ul>
      <li id="mainTreeBranches">
        <a href="#">Branches</a>
      </li>
      <li id="mainTreeTags">
        <a href="#">Tags</a>
      </li>
    </ul>
  </div>
</div>

<!-- commit dialog -->
<div id="commitDialog" title="Commit" style="display: none;">
  <div class="dialog-field">
    <div class="dialog-field-title">Commit Message:</div>
    <div class="dialog-field-value">
      <textarea id="commitDialogMessage" style="width: 600px; height: 200px;"></textarea>
    </div>
  </div>
</div>

<!-- stash dialog -->
<div id="stashDialog" title="Stash" style="display: none;">
  <div class="dialog-field">
    <div class="dialog-field-title">Stash name:</div>
    <div class="dialog-field-value">
      <input id="stashDialogMessage" type="text" size="80" />
    </div>
  </div>
</div>

</body>
</html>
