<html>
<head>
  <title>NodeGitGui</title>
  <script type="text/javascript" src="javascript/libs/jquery-1.8.0.js"></script>
  <script type="text/javascript" src="javascript/libs/jquery-ui-1.8.23.js"></script>
  <script type="text/javascript" src="javascript/libs/jquery.layout.js"></script>
  <script type="text/javascript" src="javascript/libs/jquery.dataTables.js"></script>
  <script type="text/javascript" src="javascript/libs/jquery.jstree.js"></script>
  <script type="text/javascript" src="javascript/libs/jquery.ribbon.js"></script>
  <script type="text/javascript" src="javascript/libs/ejs.js"></script>
  <script type="text/javascript" src="/browserify.js"></script>
  <script type="text/javascript" src="javascript/gitgui.js"></script>
  <link type="text/css" rel="stylesheet" href="css/smoothness/jquery-ui-1.8.23.custom.css"/>
  <link type="text/css" rel="stylesheet" href="css/layout/layout.css"/>
  <link type="text/css" rel="stylesheet" href="css/dataTable/header.ccss"/>
  <link type="text/css" rel="stylesheet" href="css/dataTable/dataTable.css"/>
  <link type="text/css" rel="stylesheet" href="css/ribbon/style.css"/>
  <link type="text/css" rel="stylesheet" href="css/gitgui.css"/>
</head>
<body>
<div class="ui-layout-north">
  <ul class="ribbon" id="ribbon">
    <li>
      <ul class="menu">
        <li><a href="#home" accesskey="2">Home</a>
          <ul>
            <li>
              <h2>
                <span>Actions</span>
              </h2>

              <div id="toolbarRefresh">
                <img src="/image/view-refresh-3.png" alt="Refresh"/>
                Refresh
              </div>
            </li>
            <li>
              <h2>
                <span>Git</span>
              </h2>

              <div id="toolbarFetch">
                <img src="/image/go-bottom-6.png" alt="Fetch"/>
                Fetch
              </div>
              <div id="toolbarPull">
                <img src="/image/go-down-7.png" alt="Pull"/>
                Pull
              </div>
              <div id="toolbarPush">
                <img src="/image/go-up-7.png" alt="Push"/>
                Push
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="outer-center">
  <!-- GitLog -->
  <div class="middle-center">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="gitLog" width="100%">
      <thead>
      <tr>
        <th>Graph</th>
        <th>Description</th>
        <th>Date</th>
        <th>Author</th>
        <th>ID</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <!-- FileView and Diff -->
  <div class="middle-south">
    <div class="middle-south-west">
      <div id="commitInfo">
        Select a commit from the log to view.
      </div>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="fileView" width="100%">
        <thead>
        <tr>
          <th>Status</th>
          <th>Filename</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="middle-south-center">
      East
    </div>
  </div>
</div>

<!-- MainTree -->
<div class="ui-layout-west">
  <div id="mainTree">
    <ul>
      <li id="mainTreeBranches">
        <a href="#">Branches</a>
      </li>
      <li id="mainTreeTags">
        <a href="#">Tags</a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
